:root {
    --font_family: "Abel", sans-serif;
    --font_size: 16px;
    --background_color: rgb(187, 187, 187);
    --background_image: url(img/background.jpg);
    
    --margin_bottom: 5px;

    --button_background_color: #0e0e0e;
    --button_text_color: #fff;
    --button_text_hover_color: #f1c40f;

    --menu_background_color: #0e0e0e;
    --menu_text_color: #fff;
    --menu_active_text_color: #f1c40f;
}

@keyframes imgcolor {
  0%  {border-color: black;}
  20% {border-color: red;}
  40% {border-color: blue;}
  60% {border-color: yellow;}
  80% {border-color: green;}
  100% {border-color: black;}
}

body {
    font: var(--font_size) var(--font_family);
    font-weight: 400;
    line-height: 1.5;
    background: var(--background_image) repeat center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 102, 0);
    border-bottom: 2px black solid;
  }
  
  #navbar > ul {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    position: fixed;
    right: 0;
  }
  
  #navbar > ul > li {
    display: block;
    list-style: none;
    padding: 1.2rem;
    min-width: 75px;
    text-align:center;
  }

  #navbar > ul > li > a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
  }
  
  #navbar > ul > li:hover {
    background-color: grey;
  }

  #welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  img {
    width: 600px;
    height: 400px;
    object-fit:fill;
    border-radius: 15px;
  }
  
  .flex_column_center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .flex_no_wrap_row_center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

.header_nav_menu_list {
    padding-top: 0.1em;
    margin-left: 1em;
    margin-right: 3em;
}


.header_nav_menu_item {
    color: var(--menu_text_color);
    background-color: var(--menu_background_color);
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: 0.10s ease;
    font-size: 1.1em;
  }

  .header_nav_menu_item + .header_nav_menu_item {
    margin-left: 0.4em;
  }

  #header_nav_menu_item_1 {
    color: var(--menu_active_text_color);
  }
  
  #header_nav_menu_item_2,
  #header_nav_menu_item_3 {
    color: var(--menu_text_color);
  }
  
.Header{
    border-bottom: dotted 5px turquoise;
}

.Title{
  font-family: Abel, sans-serif;
  margin-bottom: var(--margin_bottom);
  font-size: 3em;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.Contact{
  text-align: center;
  font-size: 1.5em;
  margin-bottom: var(--margin_bottom);
}

.Description{
  color: #f7b334;
  width: 35em;
  height: 5em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;  
}

.project_title{
  font-family: Abel, sans-serif;
  margin-bottom: var(--margin_bottom);
  font-size: 3em;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.project_description {
  padding: 0.5em;
  color: rgb(0, 153, 255);
  width: 80em;
  height: auto;
  margin-top: 25px;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  background-color: #0e0e0e;
}

#main_section_container_2, 
#main_section_container_3 {
  display: none;
 }

.main_small_button_list {
  display: flex;
  flex-direction: row;
}

.main_small_a_item {
  margin-top: 0.5em;
  width: 38em;
  text-decoration: none;
  border: solid black 5px;
  border-radius: 10px;
  animation-name: imgcolor;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.main_small_a_item + .main_small_a_item {
  margin-left: 20px;
}

.main_button_item {
  color: var(--button_text_color);
  background-color: var(--button_background_color);
  width: 41em;
  margin-top: 20px;
  border-radius: 1em;
  min-height: 3.7em;
  text-align: center;
  cursor: pointer;
}

.main_a_item {
  margin-top: 1em;
  text-decoration: none;
}

@media (max-width: 768px) {
  #welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f1c40f;
  }

  #projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .Title{
    width: auto;
    height: auto;
    text-align: center;
  }

  .Contact{
    width: auto;
    height: auto;
    text-align: center;
  }

  .Description{
    width: auto;
    height: auto;
    text-align: center;
  }

  .project_description {
    width: 90vw;
    height:auto;
  }

  .main_small_button_list{
    display:block;
  }

  .main_small_a_item {
    width: 95%;

  }

  .main_small_a_item + .main_small_a_item {
    margin-left: 0px;
  }

  .main_button_item {
    width: 92vw;
  }
  
}
